/*** VARIABLES ***/
:root {
    --main-color: #00ACBF;
    --white-color: #fff;
    --black-color: #000002;
    --grey-color: #45424b;
    --title-font: 'Moon Dance', cursive;
    --body-font: 'Moulpali', cursive;
    --main-font-size: 18px;
    --btn-font-size: 20px;
    --title-font-size: 48px;
    --logo-font-size: 64px;
}

/*** GENERICS ***/
body {
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    color: var(--main-color);
    background: var(--black-color);
    overflow-x: hidden;
    background-color: var(--black-color);
}

h1, h2 {
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.button {
    font-size: var(--btn-font-size);
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    padding: 20px;
    border-radius: 12px;
}

/*** HEADER ***/

header {
    width: 100vw;
    height: 1250px;
    background: url("../img/background-accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header nav {
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--title-font-size);
}

header nav h1 {
    text-transform: uppercase;
}

header .header-cta {
    width: 26%;
    margin: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-cta p {
    font-size: var(--logo-font-size);
}


/*** SECONDARY HEADER ***/

header .nav {
    background-color: var(--grey-color);
}

/*** FOOTER ***/

footer {
    display: flex;
    flex-direction: column;
    height: 370px;
}

footer .footer-group {
    display: flex;
    width: 100%;
    height: 325px;
    justify-content: space-around;
}

footer #map {
    height: 325px;
    width: 30%;
}

footer .footer-infos {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    color: var(--white-color);
}

footer .footer-social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-social .icones {
    font-size: var(--logo-font-size);
    padding: 1rem;
}

footer .copyright {
    height: 25px;
    text-align: center;
}

/*** HOME ***/

#presentation {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

#presentation img {
   
    height: 450px;
}

#presentation .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#presentation .presentation-text p {
    line-height: 2;
    margin: 3rem 0;
}

#presentation .presentation-text, 
#presentation .presentation-carousel {
    width: 35%;
}

/*** CARDS DU MENU ***/

#menuCards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

#menuCards .card {
    width: 25rem;
    background-color: var(--main-color);
    color: var(--black-color);
    border-radius: 0 40px 0 40px;
}

#menuCards .card-img-top {
    height: 220px;
    border-radius: 0 40px 0 0;
}

#menuCards .card-text {
    color: var(--white-color);
}