/*** VARIABLES ***/
:root {
    --main-color: #00acbf;
    --white-color: #fff;
    --black-color: #000002;
    --grey-color: #45424b;
    --title-font: "Moon Dance", cursive;
    --body-font: "Moulpali", cursive;
    --main-font-size: 18px;
    --btn-font-size: 20px;
    --title-font-size: 48px;
    --logo-font-size: 64px;
    --secondary-font-size: 24px;
}

/*** GENERICS ***/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    color: var(--main-color);
    background: var(--black-color);
    overflow-x: hidden;
    background-color: var(--black-color);
}

h1,
h2 {
    font-family: var(--title-font);
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--white-color);
}

li {
    list-style: none;
}

.button {
    font-size: var(--btn-font-size);
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    padding: 15px;
    margin: 15px 0;
    border-radius: 12px;
    background-color: transparent;
    color: var(--main-color);
}

/*** HEADER ***/

#header {
    width: 100vw;
    height: 1250px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/background-accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header .nav-toggler {
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

header .nav-toggler .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

header .nav-toggler .l1 {
    transform: translateY(-10px);
}

header .nav-toggler .l3 {
    transform: translateY(10px);
}

header .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

header .nav-toggler.active .l2 {
    opacity: 0;
}

header .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

header nav {
    position: fixed;
    width: 30vw;
    min-height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-left: 1px solid var(--main-color);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    font-size: var(--title-font-size);
}

header nav ul.drop_down {
    display: none;
}

header nav ul.drop_down.active {
    display: block;
}

header nav.active {
    transform: translate(0);
}

header nav a {
    font-family: var(--body-font);
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

header nav a:hover {
    color: var(--main-color);
}

header h1 {
    text-transform: uppercase;
    padding: 2rem;
}

.itemsmenu li {
    letter-spacing: 3px;
    font-weight: 600;
    padding-right: 30px;
    margin-top: 3rem;
}

.menu-item {
    text-transform: uppercase;
    font-family: var(--body-font);
    font-family: var(--body-font);
    font-size: var(--btn-font-size);
}

header .header-cta {
    width: 26%;
    margin: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-cta p {
    font-size: var(--logo-font-size);
}

/*** FOOTER ***/

footer {
    display: flex;
    flex-direction: column;
    height: 370px;
}

footer .footer-group {
    display: flex;
    width: 100%;
    height: 325px;
    justify-content: space-around;
}

footer #map {
    height: 325px;
    width: 30%;
}

footer .footer-infos {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    color: var(--white-color);
}

footer .footer-social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-social .icones {
    font-size: var(--logo-font-size);
    padding: 1rem;
}

footer .copyright {
    height: 25px;
    text-align: center;
}

/*** HOME ***/

#presentation {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

#presentation img {
    height: 450px;
}

#presentation .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#presentation .presentation-text p {
    line-height: 2;
    margin: 3rem 0;
}

#presentation .presentation-text,
#presentation .presentation-carousel {
    width: 35%;
}

/*** CARDS DU MENU ***/

#menuCards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 10rem;
}

#menuCards .card {
    width: 25rem;
    background-color: var(--main-color);
    color: var(--black-color);
    border-radius: 0 40px 0 40px;
    height: 450px;
}

#menuCards .card-img-top {
    height: 220px;
    border-radius: 0 40px 0 0;
}

#menuCards .card-text {
    color: var(--white-color);
}

#menuCards a {
    color: var(--black-color);
    text-align: center;
}

/*** RESERVATION ***/

#reservation {
    display: flex;
    justify-content: center;
    height: 580px;
    margin-bottom: 3rem;
}

#reservation .reservation-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#reservation .reservation-text h3 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: 2;
}

#reservation .reservation-text .text-maj {
    text-transform: uppercase;
    font-size: var(--secondary-font-size);
    line-height: 2;
}

#reservation .reservation-text .link {
    width: 10rem;
    height: 10rem;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#reservation .reservation-text .link a {
    color: var(--white-color);
    font-size: var(--secondary-font-size);
    text-transform: uppercase;
}

/*** CONTACT ***/

.container-form {
    margin: 10rem 0;
}

.md-form {
    margin: 2rem 0;
}

.fa-paper-plane {
    padding-left: 1rem;
}

/*** CONNEXION INSCRIPTION***/

#form_connect input,
#form_connect select {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--main-color);
    color: var(--white-color);
    margin: 2rem 0;
}

#form_connect input:focus,
#form_connect select:focus {
    outline: none;
    border: 3px solid var(--main-color);
}

#form_connect .form_sub {
    display: flex;
    justify-content: space-between;
}

#form_connect .form_sub input,
#form_connect .form_sub select {
    width: 45%;
}

#form_connect p {
    text-align: center;
}

#form_connect .button {
    width: 100%;
}

#event option,
#presta option {
    color: var(--black-color);
    font-family: var(--body-font);
}
