/*** HEADER ***/

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: url("../img/background-accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
}