/*** VARIABLES ***/
:root {
    --main-color: #00ACBF;
    --white-color: #fff;
    --black-color: #000002;
    --grey-color: #45424b;
    --title-font: 'Moon Dance', cursive;
    --body-font: 'Moulpali', cursive;
    --main-font-size: 18px;
    --btn-font-size: 20px;
    --title-font-size: 48px;
    --logo-font-size: 64px;
    --secondary-font-size: 24px;
}

/*** GENERICS ***/
body {
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    color: var(--main-color);
    background: var(--black-color);
    overflow-x: hidden;
    background-color: var(--black-color);
}

h1, h2 {
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.button {
    font-size: var(--btn-font-size);
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    padding: 20px;
    border-radius: 12px;
}

/*** HEADER ***/

header {
    width: 100vw;
    height: 1250px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("../img/background-accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header nav {
    padding: 3rem 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--title-font-size);
}

header nav h1 {
    text-transform: uppercase;
}

header nav #menuBurger {
    cursor: pointer;
	height: 27px;
	width: 27px;
	margin: 50px;
	overflow: visible;
	position: relative;
	z-index: 2;
}

header nav #menuBurger span,
header nav #menuBurger span:before,
header nav #menuBurger span:after {
    background: #fff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

header nav #menuBurger span:before,
header nav #menuBurger span:after {
    content: '';
}

header nav #menuBurger span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}

header nav #menuBurger span {
    right: 0px;
    top: 13px;
    width: 27px;
}

header nav #menuBurger span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}

header nav #menuBurger .close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

header nav #menuBurger .close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

header nav #menuBurger .close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

header nav #menuBurger li {
    list-style-type: none;
    color: var(--black-color);
    font-size: var(--secondary-font-size);
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

#menu .overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
}

header .header-cta {
    width: 26%;
    margin: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-cta p {
    font-size: var(--logo-font-size);
}


/*** SECONDARY HEADER ***/

header .nav {
    background-color: var(--grey-color);
}

/*** FOOTER ***/

footer {
    display: flex;
    flex-direction: column;
    height: 370px;
}

footer .footer-group {
    display: flex;
    width: 100%;
    height: 325px;
    justify-content: space-around;
}

footer #map {
    height: 325px;
    width: 30%;
}

footer .footer-infos {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    color: var(--white-color);
}

footer .footer-social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-social .icones {
    font-size: var(--logo-font-size);
    padding: 1rem;
}

footer .copyright {
    height: 25px;
    text-align: center;
}

/*** HOME ***/

#presentation {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

#presentation img {
   
    height: 450px;
}

#presentation .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#presentation .presentation-text p {
    line-height: 2;
    margin: 3rem 0;
}

#presentation .presentation-text, 
#presentation .presentation-carousel {
    width: 35%;
}

/*** CARDS DU MENU ***/

#menuCards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 10rem;
}

#menuCards .card {
    width: 25rem;
    background-color: var(--main-color);
    color: var(--black-color);
    border-radius: 0 40px 0 40px;
    height: 450px;
}

#menuCards .card-img-top {
    height: 220px;
    border-radius: 0 40px 0 0;
}

#menuCards .card-text {
    color: var(--white-color);
}

#menuCards a {
    color: var(--black-color);
    text-align: center;
}

/*** RESERVATION ***/

#reservation {
    display: flex;
    justify-content: center;
    height: 580px;
    margin-bottom: 3rem;
}

#reservation .reservation-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#reservation .reservation-text h3 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: 2;
}

#reservation .reservation-text .text-maj {
    text-transform: uppercase;
    font-size: var(--secondary-font-size);
    line-height: 2;
}

#reservation .reservation-text .link {
    width: 10rem;
    height: 10rem;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#reservation .reservation-text .link a {
    color: var(--white-color);
    font-size: var(--secondary-font-size);
    text-transform: uppercase;
}