/*** VARIABLES ***/
:root {
    --main-color: #00acbf;
    --white-color: #fff;
    --black-color: #000002;
    --grey-color: #45424b;
    --title-font: "Moon Dance", cursive;
    --body-font: "Moulpali", cursive;
    --main-font-size: 18px;
    --btn-font-size: 20px;
    --title-font-size: 48px;
    --logo-font-size: 64px;
    --secondary-font-size: 24px;
}

/*** GENERICS ***/
body {
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    color: var(--main-color);
    background: var(--black-color);
    overflow-x: hidden;
    background-color: var(--black-color);
}

h1,
h2 {
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--white-color);
}

.button {
    font-size: var(--btn-font-size);
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    padding: 20px;
    border-radius: 12px;
}

/*** HEADER ***/

#header {
    width: 100vw;
    height: 1250px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/background-accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header nav {
    padding: 3rem 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--title-font-size);
}

header nav h1 {
    text-transform: uppercase;
}

header nav button {
    outline: none;
}

.menulink {
    font-family: var(--body-font);
    padding-top: 25px;
    font-size: 14px;
    color: var(--main-color);
}

.menu-right {
    width: 90%;
    position: fixed;
    float: left;
    visibility: hidden;
    margin-left: 50px;
    transition: 0.6s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    opacity: 1;
    padding-top: 10px;
}

.menu-right-display {
    visibility: visible;
    margin-left: 0px;
}

.menu-right-close {
    visibility: visible;
    margin-right: -20px;
    opacity: 0;
}

.itemsmenu {
    text-align: right;
    padding: 0px;
    margin-top: 20px;
}

.itemsmenu li {
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline;
    padding-right: 30px;
}

.menu-item {
    text-transform: uppercase;
    font-family: var(--body-font);
    font-size: var(--btn-font-size);
}

.menu {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 60px;
    margin: 60px;
    /* float: right; */
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before,
.menu span:after {
    position: absolute;
    content: "";
}

.menu span,
.menu span:before,
.menu span:after {
    width: 40px;
    height: 3px;
    background-color: var(--main-color);
    display: block;
}

.menu span:before {
    margin-top: -12px;
}

.menu span:after {
    margin-top: 12px;
}

/* burger-icon */
.burger-icon span {
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

.burger-icon span:before,
.burger-icon span:after {
    -webkit-transition-property: margin, opacity;
    transition-property: margin, opacity;
    -webkit-transition-duration: 0.3s, 0s;
    transition-duration: 0.3s, 0s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.burger-icon:hover span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.burger-icon:hover span:before,
.burger-icon:hover span:after {
    margin-top: 0px;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}

.menu.clickmenu span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu.clickmenu span:before,
.menu.clickmenu span:after {
    margin-top: 0px;
    opacity: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

header .header-cta {
    width: 26%;
    margin: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-cta p {
    font-size: var(--logo-font-size);
}

/*** SECONDARY HEADER ***/

header .nav {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

header .nav h1 {
    padding: 0 3rem;
}

/*** FOOTER ***/

footer {
    display: flex;
    flex-direction: column;
    height: 370px;
}

footer .footer-group {
    display: flex;
    width: 100%;
    height: 325px;
    justify-content: space-around;
}

footer #map {
    height: 325px;
    width: 30%;
}

footer .footer-infos {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    color: var(--white-color);
}

footer .footer-social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-social .icones {
    font-size: var(--logo-font-size);
    padding: 1rem;
}

footer .copyright {
    height: 25px;
    text-align: center;
}

/*** HOME ***/

#presentation {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    margin: 5rem;
}

#presentation img {
    height: 450px;
}

#presentation .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#presentation .presentation-text p {
    line-height: 2;
    margin: 3rem 0;
}

#presentation .presentation-text,
#presentation .presentation-carousel {
    width: 35%;
}

/*** CARDS DU MENU ***/

#menuCards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 10rem;
}

#menuCards .card {
    width: 25rem;
    background-color: var(--main-color);
    color: var(--black-color);
    border-radius: 0 40px 0 40px;
    height: 450px;
}

#menuCards .card-img-top {
    height: 220px;
    border-radius: 0 40px 0 0;
}

#menuCards .card-text {
    color: var(--white-color);
}

#menuCards a {
    color: var(--black-color);
    text-align: center;
}

/*** RESERVATION ***/

#reservation {
    display: flex;
    justify-content: center;
    height: 580px;
    margin-bottom: 3rem;
}

#reservation .reservation-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#reservation .reservation-text h3 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: 2;
}

#reservation .reservation-text .text-maj {
    text-transform: uppercase;
    font-size: var(--secondary-font-size);
    line-height: 2;
}

#reservation .reservation-text .link {
    width: 10rem;
    height: 10rem;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#reservation .reservation-text .link a {
    color: var(--white-color);
    font-size: var(--secondary-font-size);
    text-transform: uppercase;
}

/*** CONTACT ***/

.container-contact {
    margin: 10rem 0;
}

.md-form {
    margin: 2rem 0;
}

.fa-paper-plane {
    padding-left: 1rem;
}
